nav{
    display:flex;
    width:100%;
    margin-top:0;
    height: 3%;
}
.myPic{
    width: 60px;
    border-radius: 50%;
    height: 60px;
    object-fit: contain;
    position:relative;
    
}
.myName{
    display:inline-block;
    font-size: 20px;
    margin: auto 0;
}
#friendsLink{
    background:none;
    height:1%;
    display:block;
    margin:auto;
    margin-left: 10%;
    width:200px;
    text-align:left;
    color: white;
    border:none;
    font-size:26px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: color 0.2s ease-in-out;
}
#profileLink{
    background:none;
    height:1%;
    display:block;
    margin:auto;
    margin-right: 10%;
    color: white;
    transition: color 0.2s ease-in-out;
    border:none;
    width:200px;
    text-align: right;
    font-size:26px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
#friendsLink:hover{
    color:rgba(255,255,255,0.7);
}
#profileLink:hover{
    color:rgba(255,255,255,0.7);
}